<%=
'<form action="/named-cat" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="Submit">Submit:</label>
    <input type="submit" value="Submit">
  </div>
</form>' if !@name %>
